@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

body {
    background-image: linear-gradient(to bottom, rgb(56, 197, 248), rgb(44, 156, 197), rgb(27, 95, 119));
    background-attachment: fixed;
}

header {
    text-align: center;
    padding-top: 50px;

}

section {
    padding: 20px;
    text-align: justify;
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.578);
    margin-bottom: 100px;
    
}

footer {
    flex: 1;
    height: 30px;
    padding: 30px;
    text-align: center;
    background-color: black;
    color:white;
   
}

div#campos input {
    margin: 10px;
}